/* Flex */
.flex
{
    display: flex;
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section */
.section-content
{
    padding: 30px 0;
}

.section-default
{
    padding: 20px 0;
}

/* Div */
.div-content p:last-child
{
    margin-bottom: 0;
}

/* Link */
.link-menu
{
    width: 100px;
    color: var(--background-color);
    background-color: var(--link-menu);

    padding: 8px;
    border-radius: 10px;
}

.link-menu:hover
{
    color: var(--black);
    background-color: var(--white);
}

.link-form
{
    display: block;
    cursor: pointer;
    width: 120px;
    font-size: 1.1em;
    font-family: var(--font-family);
    color: var(--background-color);
    background-color: var(--link-menu);

    margin: auto;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.link-form:hover
{
    opacity: 0.9;
    color: var(--black);
}

/* Flash */
.warning-flash
{
    background-color: var(--warning-flash);
    width: 30%;

    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.warning-flash p
{
    margin-bottom: 0;
}

.success-flash
{
    background-color: var(--success-flash);
    width: 30%;

    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.success-flash p
{
    margin-bottom: 0;
}

/* Card */
.display-card
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card
{
    width: 20%;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
}

.figure-card
{
    border: 3px solid var(--content);    
}

.figure-card img
{
    width: 100%;

    display: flex;
}

.card-border
{
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 3px solid var(--content);
    border-left: 3px solid var(--content);
    border-bottom: 3px solid var(--content);
}

.card-border:first-of-type
{
    height: 80px;
}

.card-border p
{
    width: 90%;

    margin-bottom: 0;
}

.card-nav
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.card-nav a
{
    width: 15px;
    color: var(--background-color);
    background-color: var(--link-menu);

    margin-right: 15px;
    padding: 8px;
    border-radius: 10px;
}

.card-nav a:last-child
{
    margin-right: 0;
}

/* Lib */
.label-file
{
    cursor: pointer;
    color: var(--white);
    background-color: var(--content);

    padding: 5px;
    border: 5px solid var(--border);
    border-radius: 5px;
}

.input-file
{
    display: none;
}

.bold
{
    font-weight: bold;
}

.article-show
{
    width: 80%;

    margin: auto;
    margin-bottom: 30px;
    padding: 20px 0;
    border: 3px solid var(--content);
    border-radius: 3px;
}

.article-show:last-of-type
{
    margin-bottom: 0;
}

.article-show p:last-of-type
{
    margin-bottom: 15px;
}

/* Margin */
.margin-right-li
{
    margin-right: 15px;
}

.margin-bottom
{
    margin-bottom: 15px;
}