/* Flex */
.flex
{
    display: flex;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section */
.section-content
{
    padding: 30px 0;
}

.section-default
{
    padding: 20px 0;
}

/* Div */
.div-content p:last-child
{
    margin-bottom: 0;
}

/* Link */
.link-menu
{
    width: 100px;
    color: var(--background-color);
    background-color: var(--link-menu);

    padding: 8px;
    border-radius: 10px;
}

.link-menu:hover
{
    color: var(--black);
    background-color: var(--white);
}

.link-form
{
    display: block;
    cursor: pointer;
    width: 120px;
    font-size: 1.1em;
    font-family: var(--font-family);
    color: var(--background-color);
    background-color: var(--link-menu);

    margin: auto;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.link-form:hover
{
    opacity: 0.9;
    color: var(--black);
}

/* Lib */
.bold
{
    font-weight: bold;
}

/* Margin */
.margin-right-li
{
    margin-right: 15px;
}
