:root
{
    --background-color-body: #cbf6db;
    --background-color: #aed6dc;
    --link-menu: #4a536b;
    --content: #6495ED;
    --border: #F5F5DC;

    --success-flash: #32CD32;
    --warning-flash: #DC143C;

    --white: #ffffff;
    --black: #000000;

    --font-family: 'Montserrat', 'Open Sans', sans-serif;
}