:root
{
    --background-color-body: #cbf6db;
    --background-color: #aed6dc;
    --link-menu: #4a536b;

    --warning-flash: #DC143C;

    --white: #ffffff;
    --black: #000000;

    --font-family: 'Montserrat', 'Open Sans', sans-serif;
}